{% extends 'base.html' %}
{% block content %}
<style>
    a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        gap: 5px;
        display: flex;
        align-items: baseline;
        
    }h3{
      color: white;
      font-size: 18px;
      font-weight: bold;
    }p{
      color: white;
      font-size: 14px;
    }
</style>
<div style="height: 28em; background-image: url(static/images/DestacadoHome-2400x750.jpg); background-size: cover;margin-top: 117px; display: flex;position: relative;background-position: bottom;">
    <div style="background-color: rgb(30, 30, 30, .9); width: 100%; height: fit-content; position: absolute; bottom: 0; display: flex; justify-content: center; align-items: center;">
      <p style="color: white; margin: 1em 0px; font-size: 17px; font-weight: 400;">Carreras con Sello Tecnológico, alta empleabilidad y alineadas con las necesidades del país</p>
    </div>
    <div style="display: flex; width: 35%; flex-direction: column;padding: 25px 0px 0px 80px;">
      <h2 style="text-shadow: #1E1E1E 1px 4px 1px; ;line-height: 1; color: white;font-size: 45px; font-weight: bold; ">Inicia el periodo Admisión 2025 para estudiantes nuevos: ¡Matricúlate GRATIS!</h2>
      <button style="background-color: white; color: #ce392b; width: fit-content;border: none; padding: 0px; font-size: 30px; font-weight: bold; border-radius: 20px; margin-top: 70px ;">Más Información</button>
    </div>

</div>

<div style="height: 16em; justify-content: space-between; align-items: center;display: flex; width: 100%; padding: 0px 150px;">
    <div style="background-color: #690715; border-radius: 15px; height: 169px;width: 392px; padding: 24px;">
      <h3>Centro Formación Técnica (CFT)</h3>
      <p>Carreras cortas, modernas y tecnológicas; con alta empleabilidad y con el Sello del Aprender Haciendo.</p>
      <a href="#" style="text-decoration: underline; font-size: 17px; text-underline-position: under;">Ver más<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" >
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
      </svg> </a>
    </div>
    <div style="background-color: #a20b1b; border-radius: 15px; height: 169px;width: 392px; padding: 24px;">
      <h3>Instituto Profesional (IP)</h3>
      <p>Desarróllate en los sectores productivos y de servicios con una formación profesional.</p>
      <a href="#" style="text-decoration: underline; font-size: 17px; text-underline-position: under;">Ver más<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" >
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
      </svg> </a>
    </div>
    <div style="background-color: #f77531; border-radius: 15px; height: 169px;width: 392px; padding: 24px;">
      <h3 style="color: black;" >Educación Continua</h3>
      <p style="margin: 0PX;color: black;">Elige actualizarte y</p>
      <p style="color: black;" >seguir especializándote</p>
      <a  href="#" style="text-decoration: underline; font-size: 17px; text-underline-position: under; color: black;">Ver más<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" >
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
      </svg> </a>
    </div>
    
</div>


{% endblock %}