{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}INACAP es Aprender Haciendo - portal.inacap.cl{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="https://portal.inacap.cl/documents/47032/0/favicon.ico/4de91b69-5360-8e06-2306-0e6cf2e2b489?q=0.08923704800448284" type="image/x-icon">
</head>
<body>
    <style>
        a{
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            gap: 5px;
            display: flex;
            align-items: baseline;
            
        }
    </style>
    <nav style="background-color: #1E1E1E; height: 7em; color: white; position: fixed; z-index: 1000; width: 100%; top: 0;">
        <div style="display: grid; grid-template-columns: 1fr 3.5fr; height: 100%; width: 100%; padding: 0px 10em;align-items: center;">
            <a style="gap:0px;" href="{% url  'inicio:inicio' %}">
                <img src="static/images/logo-footer.png" height="35px" alt="">
            </a>
            <div style="display: flex; flex-direction: column; height: 100%;">
                <div style="display: flex; justify-content: space-evenly;align-items: center;height: 50%; margin-top: 5px;">     
                    <a href="#">Ed. Media</a>
                    <a href="#">Estudiantes</a>
                    <a href="#">Exalumnos</a>
                    <a href="#">Docentes</a>
                    <a href="#">Biblioteca</a>
                    <a href="#">Empresas</a>
                    <a href="#">Validar Certificados</a>
                    <a href="#">Portal de Pagos <svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767z"/>
                      </svg></a>
                    <a href="#">Acceso Intranet <svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767z"/>
                      </svg></a>
                    <i class="bi bi-person-arms-up"></i>
                </div>
                <hr style="border-top:  1px solid white; opacity: 1; margin: 0px 0px 5px 0px;">
                <div style="display: flex;justify-content: space-evenly;align-items: center;height: 50%;">
                    <a href="">CFT INACAP  <svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767z"/>
                      </svg></a>
                    <a href="">IP INACAP <svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767z"/>
                      </svg></a>
                    <a href="">Educación Continua</a>
                    <a href="">Universidad</a>
                    <a href="">Financiamiento <svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767z"/>
                      </svg></a>
                    <a href="">Sedes <svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767z"/>
                      </svg></a>
                    <a href="">Carreras</a>
                    <a href="">Noticias <svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767z"/>
                      </svg></a>
                    <button style="background: white; padding: 5px 20px; border-radius: 20px; font-weight: bold;border: none;display: flex; flex-wrap: nowrap; align-items: center; gap: 5px;">Admisión
                         <svg style="transform: rotate(90deg);" xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor" class="bi bi-triangle-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.022 1.566a1.13 1.13 0 0 1 1.96 0l6.857 11.667c.457.778-.092 1.767-.98 1.767H1.144c-.889 0-1.437-.99-.98-1.767z"/>
                      </svg></button>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
    </html>